<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.g13149881.asportuniverse" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/aaolympic"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity android:name=".Exercise" android:label="@string/exercise">
        </activity>
        <activity android:name=".Cardio" android:label="@string/cardio">
        </activity>
        <activity android:name=".Nutrition" android:label="@string/nutrition">
        </activity>
        <activity android:name=".StopWatch" android:label="@string/stopwatch">
        </activity>
        <activity   android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>